target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Spring Boot
*.log
logs/

### Environment
.env
application-local.yml
application-prod.yml

### Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

### Augment Daily Logs
augment_daily/

### Postman
postman/

### Sensitive data
*.pem
*.key
*.crt